/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Table of Contents
1) Universal styles
2) Index.html
  -	Intro-Content
 	- Instructions
 	- Main-Content
 		- L/R & Middle Containing Divs
 		- State Options
 		- Flag
 	- Secondary-Content
 		- Buttons
 	- Results

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*--------------------------------------
            Universal Styles
--------------------------------------*/

		html {
			font-style: 16px;
		}

		/*	body{
		  background: url('../images/UnitedStatesFlag.svg.png') no-repeat center center fixed;
		  background-size: cover;
		}*/

		/* CSS trick that adds opacity to background image */
			body:after {
				content : "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background: url('../images/UnitedStatesFlag.svg.png') no-repeat center center fixed;
			  background-size: cover;
				width: 100%;
				height: 100%;
				opacity : 0.5;
				z-index: -1;
			}


		ul {
			list-style: none;
		}

		a {
			text-decoration: none;
		}

		#wrapper {
			margin-top: 2rem;
		}

		.hidden {
			display: none;
		}


/*--------------------------------------
            	Index.html
--------------------------------------*/

/*+++++++++++ Instructions +++++++++++++*/
	
	/* #intructions div style and position */
		#instructions {
			background: rgba(0,0,0,0.8);
			border: 2px solid black;
			border-radius: 2rem;
			color: lightgreen;
			font-size: 2rem;
			height: 75%;
			left: 15%;
			margin: 0 auto;
			overflow: scroll;
			position: absolute;
			top: 12.5%;
			width: 70%;
		}

	/* individual div positions */
		#instructions #how-to-play,
		#instructions #game-length,
		#instructions #game-difficulty,
		#instructions #know-how-to-play {
			/*background: orange;*/
			margin: 0 auto;
			padding-bottom: 0.5rem;
			padding-top: 0.5rem;
			text-align: center;
			width: 70%;
		}

		#instructions #how-to-play {
			/*margin-top: 7.5%;*/
			width: 90%;
		}

		#instructions #game-length ul,
		#instructions #game-difficulty ul {
			/*margin: 0 auto;*/
			padding-left: 0;
		}
		
		#instructions #game-length ul li,
		#instructions #game-difficulty ul li {
			/*float: left;*/
			text-align: center;
			display: inline-block;
			/*margin-bottom: 2rem;*/
			margin-right: 0.5rem;
		}

		#instructions #game-difficulty {
			/*margin-bottom: 2.5%;
			margin-top: 2.5%;*/
		}

		#instructions #game-length {
			/*margin-bottom: 2.5%;*/
		}

		#instructions #game-length ul li:last-child,
		#instructions #game-difficulty ul li:last-child {
			margin-right: 0;
		}
	
/*+++++++++++ Main-Content +++++++++++++*/


	/****** Div of L/R & Middle Options *****/

	  .left-options {
	    float: left;
	    width: 25%;
	  }

	  .middle-option{
	    float: left;
	    width: 50%;
	  }

	  .right-options {
	    float: right;
	    width: 25%;
	  }


	/************ State Options ************/

	  .options > li > img {
	    height: 50%;
	    width: 70%;
	  }

	  .options > li {
	    margin-top: 5%;
	  }

	  .selected {
	  	border: 4px solid orange;
	  }

		.correct {
		  border: 4px solid lightgreen;
		}

		.incorrect {
		  border: 4px solid red;
		}

	/*~~~~~~~~~~~~~~~~ Flag ~~~~~~~~~~~~~~~*/

	  #flag img{
	    height: 60%;
	    width: 80%;
	    border: 1px solid black;
	  }
	  #flag{
	    margin: 10% auto;
	  }



/*++++++++++ Secondary-Content +++++++++++*/

	/************* Buttons **************/

	  #question-buttons button{
	    display: inline-block;
	  }



/*++++++++++++++ Results ++++++++++++++++*/

	/* #intructions div style and position */
		#results {
			background: rgba(0,0,0,0.8);
			border: 2px solid black;
			border-radius: 2rem;
			color: lightgreen;
			font-size: 2rem;
			height: 75%;
			left: 15%;
			margin: 0 auto;
			overflow: scroll;
			position: absolute;
			text-align: center;
			top: 12.5%;
			width: 70%;
		}

	/* individual div positions */
		#results #correct-answers,
		#results #incorrect-answers {
			/*background: orange;*/
			margin: 0 auto;
			padding-bottom: 0.5rem;
			padding-top: 0.5rem;
			text-align: center;
			width: 70%;
		}

		#results #correct-answers ul,
		#results #incorrect-answers ul {
			padding-left: 0;
		}

		#results #correct-answers ul li,
		#results #incorrect-answers ul li {
			display: inline-block;
		}

		#results img {
			height: 30%;
	    width: 50%;
		}
		
		#results h2 {
			margin-bottom: 4rem;
		}


















