/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Table of Contents
1) Universal styles
2) Index.html
  -	Intro-Content
 	- Instructions
 	- Main-Content
 		- L/R & Middle Containing Divs
 		- State Options
 		- Flag
 	- Secondary-Content
 		- Buttons
 	- Results

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*--------------------------------------
            Universal Styles
--------------------------------------*/

	html {
		font-style: 16px;
	}

	body{
	  background: url('../images/UnitedStatesFlag.svg.png') no-repeat center center fixed;
	  background-size: cover;
	}

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	#wrapper {
		margin-top: 2rem;
	}

	.hidden {
		display: none;
	}


/*--------------------------------------
            	Index.html
--------------------------------------*/


/*++++++++++ Intro-Content ++++++++++++*/



/*+++++++++++ Instructions +++++++++++++*/


	
/*+++++++++++ Main-Content +++++++++++++*/


	/****** Div of L/R & Middle Options *****/

	  .left-options {
	    float: left;
	    width: 25%;
	  }

	  .middle-option{
	    float: left;
	    width: 50%;
	  }

	  .right-options {
	    float: right;
	    width: 25%;
	  }


	/************ State Options ************/

	  .options > li > img,
	  .options > li > img {
	    height: 50%;
	    width: 70%;
	  }

	  .options > li {
	    margin-top: 5%;
	  }


	/**************** Flag ******************/

	  #flag img{
	    height: 60%;
	    width: 80%;
	  }
	  #flag{
	    margin: 10% auto;
	  }



/*++++++++++ Secondary-Content +++++++++++*/

	/************* Buttons **************/

  #question-buttons button{
    display: inline-block;
  }



/*++++++++++++++ Results ++++++++++++++++*/








